<div class="container px-5 px-sm-0">
  <div class="row">


<div class="col-md-4">

<h2>User info</h2>
<table class="table">
  <tbody>
    <tr>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    </tr>
    <tr>
      <th>name</th>
	    <th><%= user.name %></th>
	  </tr>
	  <tr>
	    <th>introduction</th>
	    <th><%= user.introduction %></th>
	  </tr>
	  <th><%= link_to "edit", edit_user_path(current_user) %></th>
	  　　　<i class="fas fa-user-edit"></i>
	  　　　
  </tbody>
</table>

</div>
 </div>
  </div>
   </div>